<ul>
  <% @files.each do |file|%>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <% unless %w(.jpg .jpeg .png).include?(File.extname(file))%>
        <a href="/<%= file %>/edit">edit</a>
      <% end %>
      <form class="inline" action="/<%= file %>/delete" method="post">
        <button type="submit">delete</button>
      </form>
      <form class="inline" action="/clone" method="post">
        <input type="hidden" id="filename" name="filename" value="<%= file %>">
        <button type="submit">duplicate</button>
      </form>
    </li>
  <% end %>
</ul>

<p><a href="/new">New Document</a> | <a href="/upload">Upload Image</a></p>

<% if @username %>
  <form action="/users/signout" method="post">
    <p class="user-status">
      Signed in as <%= @username %>.
      <button type="submit">Sign Out</button>
    </p>
  </form>
<% else %>
  <p class="user-status"><a href="/users/signin">Sign In</a></p>
  <p>or</p>
  <p class="user-status"><a href="/users/signup">Sign Up</a></p>
<% end %>
